.centered {
    position: fixed;
    top: 40%;
    left: 40%;
    display: block;
}

#description{
    display: block;
    inline-size: 150px;
    overflow-wrap: break-word;
    /*
    margin-left: -100px;
    */
}

#nametitle{
    display: block;
    z-index:1;
}

body {
    background-color: black;
}

#maincontent{
    vertical-align: middle;
    
}

#cat {
    display:block;
    color:white
}

a ,p{
    color: white;
    font-family: 'Source Code Pro', sans-serif;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:orange;
}